*{
    margin: 0;
    padding: 0;
}


.menu{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #696969;
}
.menu a{
    background-color: #696969;
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
}