.login
{
    background-color: rgb(89, 180, 184);
    background-color: aliceblue;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    font-size: 18px;

}

 
h3
{
  
    text-align: center;
    
    padding: 10px;
    border-radius: 7px;
}
 
.login input
{
    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
    font-size: 18px;
}
 
.login input[type=submit]
{
    background-color: violet;
    border-radius:18px;
    color: white;
}
.dftr
{
    background-color: white;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    font-size: 18px;

}
.dftr [type=text]{
    width: 95%;
    color: rgb(36, 35, 35);
    padding: 6px 7px;
    border-radius: 10px;
    
    border: none;
    
    background-color: bisque;
    cursor: pointer;
}
.dftr [type=password] {
    width: 95%;
    color: rgb(36, 35, 35);
    padding: 6px 7px;
    border-radius: 10px;
    
    border: none;
    background-color: bisque;
    cursor: pointer;
}
.dftr [type=submit]{
    width: 30%;
    color: white;
    padding: 6px 7px;
    border-radius: 10px;
    
    border: none;
    background-color:  violet;
    cursor: pointer;
}
